
body {
  background-color: #222222;
  margin: 0;
  padding: 0;
}


/* Social Icons */
.social-icons-container {
    display: flex;
}

.social-icon {
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: blue;
}

/* Resume button */
.button {
  background-color: #b0c4de;
  color: steelblue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #FFFFFF;
  color: #b0c4de;
}

.navbar-button:hover {
  background-color: #555555;
  color: #FFFFFF; /* Text color when hovered over */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}